<hibernate-configuration>
    <session-factory>
        <!-- Utiliza el dialecto de MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Cambia la clase del controlador de la base de datos para MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Actualiza la URL de conexión para MySQL -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/prueba</property>

        <!-- Actualiza el nombre de usuario y la contraseña de MySQL -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Mapea las clases de entidad -->
        <mapping class="Entities.User"/>
    </session-factory>
</hibernate-configuration>
